.pro{
  font-family:'Courier New', Courier, monospace;
  background-color: black;
  align-items:end;
  justify-content: end;
  float:right;
  padding-right: 10%;
  /*padding-left: 50%;*/

  color: goldenrod;
  font-size: 10px;
  height: 225px;
}

.pro2{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 5px;
}

a{
  text-decoration: none;
  color: silver;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Girassol', cursive;
}
  a:hover{
      color: goldenrod;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Girassol', cursive;
  }

  #inicia{
      color: silver;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8px;
  }

  #inicia:hover{
      color: goldenrod;
  }

  #inicias{
    color: silver;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
  }

  #inicias:hover{
    color: goldenrod;
}

h1{
  color:silver;
  font-family: 'Aclonica', sans-serif;
  font-size: 60px;
    text-indent: -100px;
}

#contenedor_redes{
  background-color: black;
  display: flex;
  margin-bottom: 10px;
  padding-left:55%;
}

  .redes{
      /*width: fit-content(2cm);*/
      width: fit-content;
      margin-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .fa-facebook:hover{
      color: blue !important;
  }

  .fa-instagram:hover{
      color: violet !important;
  }

  .fa-youtube:hover{
      color: red !important;
  }

  .fa-twitter:hover{
      color: skyblue !important;
  }

  .fa-whatsapp:hover{
      color: greenyellow !important;
  }

  .fa-moon:hover{
    color: goldenrod !important;
  }
