<div id="contenedor_redes">
  <div class="redes"><a href="https://es-la.facebook.com/vikingosbarber"><i class="fab fa-facebook" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://www.instagram.com/viking.barber.shop/?hl=es"><i class="fab fa-instagram" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://twitter.com/barberviking?lang=es"><i class="fab fa-twitter" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://www.youtube.com/channel/UCFzVSyaVnj1PTf3PD1wiWAA"><i class="fab fa-youtube" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://wa.me/5493412848850?text=Hola,%20necesito%20hacer%20una%20consulta%20Vikings%20Barber%20Shop"><i class="fab fa-whatsapp" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalOscuro"><i class="fas fa-moon" style="font-size:24px;color:#EAE6CA"></i></a></div>
  <!--<a id="inicia" routerLink="login">Iniciar Sesion</a>-->
  <div id="inicia" routerLinkActive="active"><span *ngIf="showAdminBoard"><a id="inicias" routerLink="/admin"><i class="fas fa-briefcase" style="color: #AD7703;"></i> Gestión</a></span></div>
  <div id="inicia" *ngIf="islogueado()==false">
    <span><a id="inicia" routerLink="/registro">Registrarse</a></span>
    <span><a id="inicias" routerLink="/login">Iniciar Sesion</a></span>
  </div>
  <div id="inicia" *ngIf="islogueado()">
    <a id="inicia" (click)="clickear()">
      <i class="fas fa-user" style="color:#0B15AD;"></i>
      <span> {{username}} </span>
    </a>
    <span>
      <a id="inicias" href (click)="logout()"><i class="fas fa-sign-out-alt fa-lg" style="color:#DD0202"></i> Salir</a>
    </span>
  </div>
</div>
<div class="pro" *ngIf="islogueado() && clickeado">
  <ul>
    <li><a routerLink="/profile" (click)="clickear()"><i class="fas fa-user" style="color:#01E905;"></i><span class="pro2">Perfil</span></a></li>
    <li><a routerLink="/board-user" (click)="clickear()"><i class="fas fa-ticket-alt fa-lg" style="color:#01E9DB;"></i><span class="pro2">Tickets</span></a></li>
    <li><a href (click)="logout()"><i class="fas fa-sign-out-alt fa-lg" style="color:#DD0202;"></i><span class="pro2">Salir</span></a></li>
  </ul>
</div>
<!-- Modal Modo Oscuro-->
<div class="modal fade" id="exampleModalOscuro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modo Oscuro</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Modo Oscuro disponible proximamente en la version 2.0
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<!--
  <div id="contenedor_redes">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registrarse</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Iniciar Sesion</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="redes"><a href="https://es-la.facebook.com/vikingosbarber"><i class="fab fa-facebook" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://www.instagram.com/viking.barber.shop/?hl=es"><i class="fab fa-instagram" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://twitter.com/barberviking?lang=es"><i class="fab fa-twitter" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://www.youtube.com/channel/UCFzVSyaVnj1PTf3PD1wiWAA"><i class="fab fa-youtube" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://wa.me/5493412848850?text=Hola,%20necesito%20hacer%20una%20consulta%20Vikings%20Barber%20Shop"><i class="fab fa-whatsapp" style="font-size:24px;color:white"></i></a></div>
  <a id="inicia" routerLink="login">Iniciar Sesion</a>
</div>

-->
