<div class="slider">
  <div id="texto_hist">
    <p>En la calle más auténtica y exclusiva de Rosario, Vikings Barber Shop
      recrea el ambiente atemporal de una peluquería de principios del siglo XX.
      Vikings Barber Shop representa un paraíso lujoso para aquellos caballeros
      que desean relajarse mientras pasan un tiempo valioso para ellos,
      experimentando los rituales de aseo más clásicos y atemporales.
      Conoce más de <a id ="textito" routerLink="nosotros">nosotros</a></p>
  </div>
  <!--<div class="fotitos" *ngFor="let item of Imagedata;">
    <img class="miSlide" src={{item?.item}}>-->
  <div class="fotitos">
    <img class="miSlide" src="./assets/imagenes/barberia1.jpeg">
    <img class="miSlide" src="./assets/imagenes/barberia2.jpeg" style="display: none;">
    <img class="miSlide" src="./assets/imagenes/barberia3.jpg" style="display: none;">
    <img class="miSlide" src="./assets/imagenes/barberia4.jpg" style="display: none;">
  </div>
</div>
