<div id="contenedor_logo">
  <div id="logo"><a routerLink="home"><img src="./assets/logitobarber.png" alt="Logito"></a></div>
  <div id="nombre_logo"><h1>{{nom_titulo}}</h1></div>
</div>

<div class="carteles">
  <p class="cartel1"><a routerLink="home">Inicio</a></p>
  <p class="cartel1"><a routerLink="turnos">Turnos</a></p>
  <p class="cartel1"><a routerLink="productos">Productos</a></p>
  <p class="cartel1"><a routerLink="servicios">Cortes</a></p>
  <p class="cartel1"><a routerLink="nosotros">Nosotros</a></p>
</div>
