<div class="slider_p">
  <div class="productitos">
    <img class="miSlide_p" src="./assets/imagenes/prod1.jpg">
    <img class="miSlide_p" src="./assets/imagenes/prod3.jpg" style="display: none;">
    <img class="miSlide_p" src="./assets/imagenes/prod2.jpg" style="display: none;">
    <img class="miSlide_p" src="./assets/imagenes/prod4.jpg" style="display: none;">
  </div>
  <div class="productitis">
    <img class="miSlide_p2" src="./assets/imagenes/prod5.jpg">
    <img class="miSlide_p2" src="./assets/imagenes/prod6.jpg" style="display: none;">
    <img class="miSlide_p2" src="./assets/imagenes/prod7.jpg" style="display: none;">
    <img class="miSlide_p2" src="./assets/imagenes/prod8.jpg" style="display: none;">
  </div>
  <div class="productites">
    <img class="miSlide_p3" src="./assets/imagenes/prod12.jpg">
    <img class="miSlide_p3" src="./assets/imagenes/prod10.jpg" style="display: none;">
    <img class="miSlide_p3" src="./assets/imagenes/prod11.jpg" style="display: none;">
    <img class="miSlide_p3" src="./assets/imagenes/prod9.jpg" style="display: none;">
  </div>
  <div id="texto_prod">
    <p>Vikings Barber Shop fabrica y distribuye en todo el país miles de artículos
      para profesionales de la industria de la peluquería, belleza y cosmética.
      Llevamos más de 75 años trabajando para proporcionar productos de alta calidad
      a profesionales de la industria. Somos pioneros en Argentina en el diseño y
      fabricación de herramientas, peluquería y estética. Conoce más de
      nuestros <a id ="textito" href="productos.html">productos</a>
    </p>
  </div>
</div>
