:root {
  --max: 18rem
  }
.grancontenedor{
  margin-top: 20px;
  background-color: black;
}

.jumbotron{
  margin-top: 20px;
}

.container{
  display: flex;
  justify-content: center; /* Alinea los elementos hijos horizontalmente en el centro */
  align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
  /* height: 100vh;  Establece la altura al 100% del viewport */
  margin-bottom: 15px;
}

.tablita{
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000);
  border: 2px solid silver;
}
/*
.card{
  margin-bottom: 20px;
}
*/
.card{
  width: var(--max);
}

.card-img-top{
  width: 100%;
  max-width: var(--max);
  height: calc(var(--max));
  object-fit: cover;
}


h1{
  text-align: center;
}

h5{
  text-align: center;
  color: #000000;
}

/*
.card-text{
  color: black !important;
  text-align: center;
}

.card-footer{
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: x-large !important;
  background: linear-gradient(to right, #f79814, #f0df4a);
}
*/

.text-muted{
  color: #000000 !important;
  font-weight: bold;
  font-size: x-large;
}

.tab {
  overflow: hidden;
  border: 5px solid black;
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000);
}

.tab button {
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 25px;
  font-family: 'Aclonica', sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  color: silver;
}

.tab button:hover {
  background: linear-gradient(to right, #f79814, #f0df4a);
  color: black;
}

.tab button.active {
  background: linear-gradient(to right, #f09819, #edde5d);
  color: black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid black;
  border-top: none;
  color: silver;
}

.precio{
  float: right;
  padding-right: 20%;
}

.puntitos{
  color: yellow;
  font-size: larger;
}

p{
  padding-left: 10%;
}

h3{
  padding-left: 10%;
  font-size: x-large;
}
.list-group-item-dark{
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000) !important;
}

li{
  color: silver;
  font-weight: bold;
}

.badge-warning{
  font-weight: bold !important;
  color: black;
  font-size: large;
}

.buscador{
  margin-bottom: 15px;
  padding: 10px 20px; /* Ajusta el padding para hacer el botón más largo */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  display: flex;
  justify-content: center; /* Alinea los elementos hijos horizontalmente en el centro */
  align-items: center;
}

#busca{
  font-weight: bold;
  background-color: #000000;
  color: goldenrod;
  width: 100%;
}

.carritocompra{
  padding: 10px 20px; /* Ajusta el padding para hacer el botón más largo */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  border: 2px solid black; /* Color del borde */
  background-color: goldenrod; /* Color de fondo del botón */
  color: black; /* Color del texto */
  border-radius: 25px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
}

.btn-long {
  padding: 10px 20px; /* Ajusta el padding para hacer el botón más largo */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  border: 2px solid black; /* Color del borde */
  background-color: goldenrod; /* Color de fondo del botón */
  color: black; /* Color del texto */
  border-radius: 25px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición suave */
}

.btn-long:hover {
  background-color: black; /* Cambia el color de fondo al pasar sobre el botón */
  color: silver; /* Cambia el color del texto al pasar sobre el botón */
}

#colorcito{
  color: crimson;
}

#campos{
  color:silver;
}

.imagen{
  height: 20%;
  width: 20%;
}