<div class="jumbotron jumbotron-fluid">
  <div class="container text-info">
    <h1 class="display-4">La familia Viking's Barber Shop</h1>
    <p>
      En la calle más auténtica y exclusiva de Rosario, Vikings Barber Shop recrea el ambiente
      atemporal de una peluquería de principios del siglo XX. Vikings Barber Shop representa un
      paraíso lujoso para aquellos caballeros que desean relajarse mientras pasan un tiempo valioso
      para ellos, experimentando los rituales de aseo más clásicos y atemporales. Cruzar la entrada
      del edificio del siglo XVIII significa entrar en un mundo de paz e intimidad, una dimensión
      paralela donde olvidarse de todo y concentrarse solo en usted. El interior de la boutique se
      caracteriza por un aspecto unico, inspirado en los mosaicos de lujo de los hoteles de lujo
      europeos de principios del siglo XX y estudiado para inspirar paz y elegancia atemporal.
    </p>
  </div>
</div>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/imagenes/slide.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/slide1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/slide2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/slide3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/slide4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/slide5.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/slide6.JPG" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container text-info">
    <h1 class="display-4">Un equipo de calidad</h1>
    <p>
      En Viking's Barber Shop contamos con los mejores barberos de la ciudad para brindarte
      el mejor servicio, tanto desde lo profesional como desde lo humano. Nuestra empresa se
      caracteriza por la calidad de nuestros barberos, quienes se encuentran en constante
      capacitación para perfeccionar e innovar distintas técnicas de corte y asi estar siempre
      en la vanguardia y poder aconsejar de la mejor manera a nuestros clientes.
    </p>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="./assets/imagenes/barbero1.jpg" class="card-img-top imagen" alt="...">
    <div class="card-body">
      <h5 class="card-title">Miguel</h5>
      <p class="card-text">Miguel es nuestro jefe de barberos y se encuentra trabajando para nuestro equipo desde el primer día. Sinónimo de calidad y destreza</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/imagenes/barbero2.jpg" class="card-img-top imagen" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alfredo</h5>
      <p class="card-text">Alfredo es uno de los barberos más reconocidos de la ciudad. Es la garantía ideal para un trabajo bien realizado.</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/imagenes/barbero3.jpg" class="card-img-top imagen" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ignacio</h5>
      <p class="card-text">Nacho es uno de los barberos con más potencial del mercado. Sin dudas destaca por su frescura y calidad a la hora de hacer sentir cómodos a sus clientes.</p>
    </div>
  </div>
</div>
