@import "~@fortawesome/fontawesome-free/css/all.css";
/*@import "~@fortawesome/angular-fontawesome-svg-core/styles.css";*/
/*
+-- @fortawesome/angular-fontawesome@0.14.1
+-- @fortawesome/fontawesome-svg-core@6.6.0
+-- @fortawesome/free-solid-svg-icons@6.6.0
*/
.grancontenedor{
  margin-top: 20px;
  background-color: black;
}

.tab {
  overflow: hidden;
  border: 5px solid black;
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000);
}

.tab button {
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 25px;
  font-family: 'Aclonica', sans-serif;
  margin-right: 9%;
  margin-left: 11%;
  color: silver;
}

p{
  color: silver;
  font-weight: bold;
}

.tab button:hover {
  background: linear-gradient(to right, #f79814, #f0df4a);
  color: black;
}

.tab button.active {
  background: linear-gradient(to right, #f09819, #edde5d);
  color: black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid black;
  border-top: none;
  color: silver;
}

.precio{
  float: right;
  padding-right: 20%;
}

.puntitos{
  color: yellow;
  font-size: larger;
}

p{
  padding-left: 10%;
}

h3{
  padding-left: 10%;
  font-size: x-large;
}
.list-group-item-dark{
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000) !important;
}

li{
  color: silver;
  font-weight: bold;
}

.badge-warning{
  font-weight: bold !important;
  color: black;
  font-size: large;
}

.tablita{
  background: linear-gradient(336deg, #000000, #1f1f1e, #000000);
  border: 2px solid silver;
}

#colorcito{
  color: crimson;
}

#denegado{
  color: maroon;
  text-align: center;
}

.alert-danger{
  margin-top: 20px;
}

.fila-oculta {
  display: none;
}

.edicion{
  margin-left: 10%;
  margin-bottom: 15px;
  color: black;
  background-color: #edde5d;
  border-color: #000000;
}

.agregaProd{
  margin-left: 15px;
  margin-bottom: 15px;
  color: #000000;
  background-color: #edde5d;
  border-color: #000000;
}

.buscador{
  margin-bottom: 15px;
  padding: 10px 20px; /* Ajusta el padding para hacer el botón más largo */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  display: flex;
  justify-content: center; /* Alinea los elementos hijos horizontalmente en el centro */
  align-items: center;
}

#busca{
  font-weight: bold;
  background-color: #e602d3;
  color: rgb(60, 32, 218);
  width: 100%;
}