<div class="contenedor">
  <div class="horario">
    <p><i class="fas fa-clock"></i> Lunes a Viernes de 9 a 21 hs y Sábados de 8 a 13 hs</p>
  </div>
  <button id="reserva" routerLink="contacto">Contactanos!</button>
</div>

<div class="footer bg-black conteiner text-light">
  <div class="row"></div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-2">Proyecto realizado por:</div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <p class="col-2">- Bayard Diego</p>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <p class="col-2">- Lategano Bruno</p>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <p class="col-2">- Nardelli Luciano</p>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-4"></div>
    <p class="col-5">Copyright - All rights reserved © 2024</p> 
  </div>
</div>
